<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{dd MMM yyyy HH:mm:ss.SSSS} [%-20thread] [%-5level] %-32logger{32}:%-4line- %msg%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="software.openx.eelaa" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
